table {
    width: 100%;
    max-height: 400px;
    overflow: auto;
}
  
.example-container {
    height: 400px;  
    max-width: 100%;
    overflow: auto;  
}

.edit {
    margin-right: 5px;
}

.edit > i {
    color: #D9CD26;
}

.delete > i {
    color: #e35e6b;
}