<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vinde!</mat-card-title>
    <mat-card-subtitle class="subtitle">
        <br>
        Esta página introdutória é apenas uma representação simbólica da papelaria fictícia PaperLuv, com o objetivo
        de treinar a criação de componentes 
        <br>em Angular e Material Design, além da conexão entre eles e do front com o backend da aplicação.
        <br><br>
        O exercício faz parte de um curso introdutório da Cod3r.br, "Angular 9 Essencial", produzido por Leonardo Leitão.
        <br><br> A aplicação faz um CRUD de produtos:
        <ul>
            <li>criação</li>
            <li>edição</li>
            <li>exclusão</li>
            <li>consulta</li>
        </ul>
    </mat-card-subtitle>
</mat-card>
